<!--Collapse Add a comment form START-->
<% 
collapseFormId = `collapse-new-comment-form-${id}`;
formId = `new-comment-form-${id}`;
%>
<div class="collapse" id="<%=collapseFormId%>"> %>
	<div class="card new-comment">
		<div class="card-body">
			<% if(!currentUser) { %>
				<!--If the user is not logged in, direct him to the login page-->
				<h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
			<% } %>
			<% if(currentUser) { %>
				<!--If the user is logged in, show the new comment form-->
				<h4>Write your comment <i class="fas fa-pencil-alt"></i></h4>
				<form id="<%=formId%>"
					  action="/<%=parentInstance.model.toLowerCase()%>s/<%= parentInstance.id%>/comments" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
					</div>
					<div class="form-group">
						<textarea class="form-control" name="comment[text]" placeholder="Write your comment..." 
								  form="<%=formId%>" rows="5" cols="70"></textarea>
					</div>
					<div class="form-group">
						<input class="form-control d-none" name="parent" type="text" 
							   value="<%= parentInstance.model.toLowerCase() %>">
					</div>
					<div class="form-group">
						<button class="btn btn-success btn-sm">Comment <i class="fas fa-comment"></i></button>
						<a class="btn btn-secondary float-right" role="button" data-toggle="collapse"
						   href="#<%=collapseFormId%>" 
						   aria-expanded="false"
						   aria-controls="<%=collapseFormId%>">
							Cancel
						</a>
					</div>
				</form>	
			<% } %>
		</div>
	</div>
</div>
<!--Collapse Add a comment form END-->