<div class="float-right">
	<button type="button" class="btn btn-xs btn-primary" data-toggle="modal"
			data-target=<%=dataTarget%>>
		<span>Total likes: <i class="fas fa-thumbs-up"></i> <%= modelInstance.likes.length %></span>
	</button>
</div>
<div style="padding-bottom: 10px;">
	<form action="/<%=model%>s/<%= modelInstance.slug %>/like" method="POST">
        <div class="btn-group">
			<% if (currentUser && modelInstance.likes.some(function (like) {
                return like.equals(currentUser._id)
            })) { %>
                <button class="btn btn-sm btn-primary">
                    <i class="fas fa-thumbs-up"></i> Liked (<%= modelInstance.likes.length %>)
                </button>
            <% } else { %>
                <button class="btn btn-sm btn-primary">
                    <i class="fas fa-thumbs-up"></i> Like (<%= modelInstance.likes.length %>)
                </button>
            <% } %>
            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                    data-target=<%=dataTarget%>>See more details
            </button>
        </div>
    </form>
</div>