<%- include("../partials/header") %>

<% campgroundInstance = new ModelInstance(campground.schema.COLLECTION_NAME,
										  campground,
										  campground.schema.PRIMARY_KEY,
										  campground[campground.schema.PRIMARY_KEY],
										  campground.author
										 ); 
%>

<div class="row">
	<div class="col-md-4 py-2">
		<div class="list-group">
			<li class="list-group-item active">
				<em><strong>Address</strong></em> 
				<p>
					<%=campgroundInstance.instance.location%>
				</p>
			<li class="list-group-item">
				<em><strong>Latitude</strong></em> 
				<p>
					<%=campgroundInstance.instance.lat%><span>&#176;</span> 
				</p>
			</li>
			<li class="list-group-item">
				<em><strong>Longitude</strong></em> 
				<p>
					<%=campgroundInstance.instance.lng%><span>&#176;</span> 
				</p>
			</li>
			<div>
				<div id="map" class="rounded-bottom">hello</div>
			</div>
			
		</div>
	</div>
	<div class="col-md-8 py-2 mb-2">
		<div class="card mb-3">
			<img src="<%=campground.image%>" class="card-img-top" alt="<%=campground.name%>" onclick="showImgModal()">
			<div class="card-body">
				<p class="float-right">$<%=campground.price%>/night</p>
				<h5 class="card-title"><%= campground.name %></h5>
				<p class="card-text">
					<p> 
						<em>Submitted By 
							<a href="/users/<%= campground.author._id %>"><%= campground.author.username %></a>, 
							<%= moment(campground.createdAt).fromNow() %>
						</em>
					</p>
					<div class="">
						<%- include("../partials/likes/like-buttons", 
									{dataTarget: `campgroundLikes_${campgroundInstance._id}`,
									modelInstance: campgroundInstance}) 
						%>
						<%- include("../partials/likes/like-modal", 
									{dataTarget: `campgroundLikes_${campgroundInstance._id}`,
									modelInstance: campgroundInstance}) 
						%>
					</div>


					<hr>
					<h5>Description</h4>
					<p><%= campgroundInstance.instance.description %></p>
				</p>
				
				<%- include("../partials/buttons/edit", {modelInstance: campgroundInstance})%>
				<%- include("../partials/buttons/delete", {modelInstance: campgroundInstance})%>
				
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<!--Comment section title-->
				<h4 ><strong>Comments <i class="fas fa-comment"></i></strong></h4>
				<% icon = `<i class="fas fa-plus"></i>`; %>
				<% message = "Add a new comment" %>
				<% id = uuid.v4(); %>
				<%- include("../comments/partials/buttons/new", {parentInstance: campgroundInstance, id: id}) %>
				
				<br><br>
				<%- include("../comments/partials/forms/new", {parentInstance: campgroundInstance, id: id}) %>
				<br>
				<hr>
				<% campground.comments.forEach(async (comment) => { %>
					<% commentInstance = new ModelInstance(comment.schema.COLLECTION_NAME,
															  comment,
															  comment.schema.PRIMARY_KEY,
															  comment[comment.schema.PRIMARY_KEY],
															  comment.author
															 );
					%>
					<%- include("../comments/partials/blocks/show", {parentInstance: campgroundInstance, 
																	 commentInstance: commentInstance}); %>
				<% }) %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function initMap() {
		var lat = <%= campground.lat %>;
		var lng = <%=campground.lng%>;
		var center = {lat: lat, lng: lng };
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 8,
			center: center,
			scrollwheel: false
		});
		var contentString = `
			<strong><%= campground.name %><br />
			Address: <%=campground.location %></strong>
			<p>Description: <%= campground.description %></p>
		`
		var infowindow = new google.maps.InfoWindow({
			content: contentString
		});
		var marker = new google.maps.Marker({
			position: center,
			map: map
		});
		marker.addListener('click', function() {
			infowindow.open(map, marker);
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjx2_MGCW93w4iDnACDo-AMf-sT_SWrPg&callback=initMap"></script>

<%- include("../partials/footer") %>