<% id = uuid.v4(); %>
<div class="row">
		<div class="col-md-12 mb-2">
			<div class="card">
				<div class="card-body">
					<p>
						<strong>
							<a href="/users/<%= commentInstance.instance.author._id %>"><span class="badge"><i class="fas fa-user"></i> 
								<%= commentInstance.instance.author.username %>
							</a>
						</strong>
						<span class="float-right"><%= moment(commentInstance.instance.createdAt).fromNow()%></span>
						<p>
							<%= commentInstance.instance.text %>
						</p>
					</p>
						
					<div class="row mb-3">
						<div class="col">
							<%- include("../buttons/edit")%>
							<%- include("../buttons/delete")%>
							<%- include("../forms/edit") %>
						</div>
					</div>

					<% icon = `<i class="fas fa-reply"></i>`; %>
					<% message = "Reply" %>
					
					<div class="row mb-3">
						<div class="col">
							<%- include("../buttons/new", {parentInstance: commentInstance, id: id}) %>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<%- include("../forms/new", {parentInstance: commentInstance, id: id}) %>
						</div>
					</div>
					
					<% commentInstance.instance.comments.forEach(async (comment) => { %>
						<% childInstance = new ModelInstance(comment.schema.COLLECTION_NAME,
															 comment,
															 comment.schema.PRIMARY_KEY,
															 comment[comment.schema.PRIMARY_KEY],
															 comment.author
															);
						%>
						<%- include("./show", {parentInstance: commentInstance, 
											   commentInstance: childInstance}); %>
					<% }) %>
				</div>
			</div>
		</div>
</div>