<!-- Model Likes Modal -->
<div id="<%=dataTarget%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
				<h4 class="modal-title"><%=modelInstance.model%> likes: <%= modelInstance.instance.likes.length %></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Liked by:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% modelInstance.instance.likes.forEach(function(like) { %>
						<tr>
							<td>
								<a class="clickable-block" href="/users/<%= like._id %>">
									<span class="badge"><i class="fas fa-user"></i></span>
									<%= like.username %>
								</a>
							</td>
						</tr>	
                    <% }); %>
                    <% if (modelInstance.instance.likes.length === 0) { %>
                        <tr>
                            <td><em>No likes yet.</em></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>