<!--Setting up the add new comment button that is used for collapsing-->
<a class="btn btn-success float-right" role="button" data-toggle="collapse" 
   href="#collapse-<%=modelInstance.constructor.schema.COLLECTION_NAME%>-comment-<%=modelInstance._id%>" 
   aria-expanded="false" 
   aria-controls="collapse-<%=modelInstance.constructor.schema.COLLECTION_NAME%>-<%=modelInstance._id%>">
	<%-icon%> <%=message%>
</a>