<!--Setting up the add new comment button that is used for collapsing-->
<a class="btn btn-success float-right" role="button" data-toggle="collapse" 
   href="#collapse-<%=modelInstance.model%>-comment-<%=modelInstance.id%>" 
   aria-expanded="false" 
   aria-controls="collapse-
				  <%=modelInstance.model%>-
				  <%=modelInstance.id%>">
	<%-icon%> <%=message%>
</a>