<div class="row">
		<div class="col-md-12 mb-2">
			<div class="card">
				<div class="card-body">
					<p>
						<strong><a href="/users/<%= comment.author.id %>"><span class="badge"><i class="fas fa-user"></i> <%= comment.author.username %></a></strong>
						<span class="float-right"><%= moment(comment.createdAt).fromNow()%></span>
						<p>
							<%= comment.text %>
						</p>
					</p>
						<div class="float-right">
						<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
						<%- include("../comments/edit-button") %>
						<form class="delete-form" action="/campgrounds/<%=campground.slug%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
							<input type="submit" class="btn btn-sm btn-danger" value="Delete">
						</form>
						<%- include("../comments/edit-form-block") %>
						<% } %>
					</div>
				</div>
			</div>
		</div>
</div>