<div class="row">
		<div class="col-md-12 mb-2">
			<div class="card">
				<div class="card-body">
					<p>
						<strong>
							<a href="/users/<%= commentInstance.instance.author._id %>"><span class="badge"><i class="fas fa-user"></i> 
								<%= commentInstance.instance.author.username %>
							</a>
						</strong>
						<span class="float-right"><%= moment(commentInstance.instance.createdAt).fromNow()%></span>
						<p>
							<%= commentInstance.instance.text %>
						</p>
					</p>
					<%- include("../partials/buttons/edit", {modelInstance: commentInstance})%>
					<%- include("../partials/buttons/delete", {modelInstance: commentInstance})%>
					<%- /*include("./edit-form-block") */%>

					<% icon = `<i class="fas fa-reply"></i>`; %>
					<% message = "Reply" %>
					<div class="row mb-3">
						<div class="col">
							<%- include("../comments/new-button") %>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<%- include("../comments/new-form-block") %>
						</div>
					</div>
					<%console.log("************************************************************************************************")%>
					
				</div>
			</div>
		</div>
</div>