<div class="row">
		<div class="col-md-12 mb-2">
			<div class="card">
				<div class="card-body">
					<p>
						<strong>
							<a href="/users/<%= comment.author._id %>"><span class="badge"><i class="fas fa-user"></i> 
								<%= comment.author.username %>
							</a>
						</strong>
						<span class="float-right"><%= moment(comment.createdAt).fromNow()%></span>
						<p>
							<%= comment.text %>
						</p>
					</p>
					<div class="">
						<% if((currentUser && comment.author._id.equals(currentUser._id)) || currentUser && currentUser.isAdmin) { %>
							<%- include("../comments/edit-button") %>
							<%- include("../comments/delete-button") %>
							<%- include("../comments/edit-form-block") %>
						<% } %>
					</div>
					

					<% modelInstance = comment %>
					<% icon = `<i class="fas fa-reply"></i>`; %>
					<% message = "Reply" %>
					<div class="row mb-3">
						<div class="col">
							<%- include("../comments/new-button") %>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<%- include("../comments/new-form-block") %>
						</div>
					</div>			
					<%console.log("************************************************************************************************")%>
					<% modelInstanceOriginal = modelInstance; console.log("modelInstance: ", modelInstance) %>
					<% modelInstance.populate("comments").execPopulate()
						.then(modelInstance => modelInstance.comments.forEach((commentTemp) => { %>
							<% comment = commentTemp; %>
							<%- include("../comments/show-block") %>
							<% modelInstance = modelInstanceOriginal; %>
						<% })).catch(err) {}; %>
				</div>
			</div>
		</div>
</div>