<!DOCTYPE html>
<html style="width: 100%, min-width: 100%">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
		<title>YelpCamp</title>
		
			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			
			<!-- Univerally Unique Identifier Library -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
		
			<!-- fontawesome CSS -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

			<!-- Custom CSS -->
			<link rel="stylesheet" href="/stylesheets/main.css">

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 fixed-top" style="max-width: 100%; width: 100%">
			<div class="container">
				<a class="navbar-brand" href="/"><i class="fas fa-campground"></i> YelpCamp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Search Campgrounds</a></li>
					</ul>
					<ul class="navbar-nav">
						<% if(!currentUser){ %>
							<li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
								<a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
							</li>
							<li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
								<a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign Up</a>
							</li>
						<% } else { %>
							<li class="nav-item dropdown text-nowrap">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								   aria-haspopup="true" aria-expanded="false">
									Notifications <span class="badge"><%= notifications.length %></span>
								</a>
								<ul class="dropdown-menu">
									<li class="nav-item container">
										<a class="nav-link" href="/notifications">View past notifications</a>
									</li>
									<li class="nav-item container">
										<% notifications.forEach(notificationTemp => { %>
											<a class="nav-link" href="/notifications/<%=notificationTemp.id %>">
											<%= notificationTemp.followedUser.username %> created a new campground %>
											<%notification = notificationTemp; %>
											<%- include("../notifications/delete-button") %>
											</a>
										<% }); %>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/users/<%=currentUser._id%>" data-toggle="tooltip" data-placement="bottom" title="Open your profile">Signed In As <%= currentUser.username %></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/logout"><i class="fas fa-user-plus"></i> Logout</a>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
		
		<% currentUser = currentUser ? currentUser : false; %>
		<%- include("../partials/model/model-instance")%>
		
		<br>
		<br>
		<br>
		<div class="container">
			<% if(error && error.length > 0) { %>
				<div class="alert alert-danger text-center" role="alert"><%= error %></div>	
			<% } %>
			<% if(success && success.length > 0) { %>
				<div class="alert alert-success text-center" role="alert"><%= success %></div>
			<% } %>
		</div>
		<div class="row align-items-center" style="min-height: 100vh">
			<div class="col px-2 mx-2">
				<div class="container">
						
					
