<%- include("../partials/header") %>

<h1>Notifications</h1>

<ul>
	<% allNotifications.forEach(function(notificationTemp) { %>
	<li class="my-1">
		<a class="clickable-block" href="/campgrounds/<%= notificationTemp.campgroundSlug %>">
			<%= notificationTemp.username %> created a new campground %>
			<%notification = notificationTemp; %>
			<%- include("./delete-button") %>
		</a>
	</li>
	<% }); %>
</ul>

<%- include("../partials/footer") %>