<%- include("../partials/header") %>

<h1 class="background-text">User Profile</h1>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex row justify-content-around align-items-center">
					<div class="d-flex flex-column">
						<h1><i class="fas fa-user"></i> Username: <%= user.username %></h1>
					</div>
					
					<%if(currentUser) { %>
						<%
						var isFollower = false;
						user.followers.forEach((follower) => {
							if(follower._id.equals(currentUser._id)) {
								isFollower = true;
							}
						})
						%>
						<%if(!isFollower) {%>
							<div class="d-flex flex-column">
								<a href="/follow/<%=user.id%>">
									<button class="btn btn-success">Follow</button>
								</a>
							</div>
						<%}%>
					<%}%>
				</div>
			</div>
			<hr class="my-0">
			<div class="card-body">
				<div class="d-flex row justify-content-around align-items-center">
					<div class="col text-center">
						<h2>Full Name: <%= user.firstName + " " + user.lastName %></h2>
					</div>
				</div>
			</div>
			<hr class="my-0">
			<img src="<%= user.avatar %>" alt="user profile image" class="card-image image-fit" onclick="showImgModal()">
			<hr class="my-0">
			<div class="card-body">
				<div class="row mb-1">
					<div class="col mb-1">
						<strong><i class="fas fa-envelope-square"></i> Email:</strong><a href="mailto:<%= user.email %>"> <%= user.email %></a>
					</div>
				</div>
				<div class="d-flex row justify-content-around align-items-center">
					<% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
						<div class="d-flex flex-column">
							<a class="btn btn-secondary" href="/users/<%=user._id%>/edit"><i class="fas fa-edit"></i> Edit Profile</a>
						</div>
						<div class="d-flex flex-column">
							<a class="btn btn-warning" href="/users/<%=user._id%>/forgot"><i class="fas fa-key"></i> Reset Password</a>

						</div>
					<% } %>
				</div>
			</div>
			<hr class="my-0">
			<div class="card-body">
				<h2 style="margin-top: 10px"><strong><i class="fas fa-book-reader"></i> Bio</strong></h2>
				<p>
					<%=user.bio%>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div id="campgroundsList" class="card bottom-sharp-corners" >
			<div class="card-body">
				<h3 class="text-center">
					<i class="fas fa-campground"></i> <%= user.username %>'s campgrounds 
				</h3>
			</div>
			<% user.campgrounds.forEach(function(campground) { %>
				<hr class="my-0">
				<div class="row text-center">
					<div class="col-3">
						<img src="<%= campground.image %>" 
							 alt="<%= campground.name %>" 
							 class="image-fit" 
							 onclick="showImgModal()">
					</div>
					<div class="col-9 align-self-center">
						<div class="row align-items-center">
							<div class="col">
							`	<a href="/campgrounds/<%=campground.slug %>"><%= campground.name %></a>
							</div>
							<div class="col">
								<div>
									<% model = "campground" %>
									<% modelInstance = campground %>
									<% dataTarget = "campgroundLikes_"+modelInstance._id  %>
									<span class="badge badge-pill badge-secondary mb-2 likesPill" data-toggle="modal"
		data-target="#<%=dataTarget%>">
										<i class="fas fa-thumbs-up"></i> <%= campground.likes.length %>
									</span>
									<%- include("../likes/like-modal") %>
								</div>

							</div>
						</div>

					</div>
				</div>
			<% }) %>
		</div>
		<% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
		<a id="addNewCampListBtn" class="btn btn-primary btn-large top-sharp-corners" href="/campgrounds/new"><i class="fas fa-plus"></i> Add New Campground</a>
		<% } %>
	</div>
</div>
<script>
	try {
		campgroundsListWidth = window.getComputedStyle(document.getElementById('campgroundsList'), null)
			.getPropertyValue('width');
	} catch(e) {
		campgroundsListWidth = document.getElementById('campgroundsList').currentStyle.width;
	} 
	
	var btn = document.getElementById("addNewCampListBtn");
	if(btn) {
		btn.style.width = campgroundsListWidth;
	}
	
</script>
<%- include("../partials/footer") %>